
* {box-sizing: border-box;}
 
 body {
  font-family: Times New Roman;
   padding: 10px;
    background-color: rgb(247,230,217);}
	
/* Header /blog title */
.header {
 padding: 110px;
  text-align: center;
  background-image: url("banner 2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  }
  
  .header h1 { 
	font-size: 50px;
	text-align-last: justify;
	color: grey;
  }
  
h2 {
	text-align: center;
	font-size: 20px;
	background-color: #c8a2c8;
	padding: 10px;
}

/* List */

ol {
list-style-type: decimal;}

/* Style the Topnav links */

.topnav {
	overflow: hidden;
	background-color: black;
}

.topnav a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration; none;
 }
 
/* Change color on hover */
 
 .topnav a:visited {
	 color: lightblue;
 }
 .topnav a:hover {
 background-color: #c8a2c8;
 color: black;
 }
 
/* Columns on each side */
/* left column */
.leftcolumn {
 float: left;
 color: black;
 width: 75%;
 }
 
 /* right column */
 .rightcolumn {
 float: right;
 width: 25%;
 background-color: #f1f1f1;
 padding: 40px;
 }
 	
.center {
	margin: auto;
	padding: 10px;
}
 
 
 .row:after {
	 content: "";
	 display: table;
	 clear: both;
 }
 
 div.gallery {
 margin: 22px;
 border: 1px solid #ccc;
 float: left;
 width: 250px;
 }
 
 div.gallery:hover {
 border: 1px solid #777;
 }
 
 div.gallery img {
 width: 100%;
 height: auto;
 }
 
 div.desc {
 padding: 15px;
 text-align: center;
 }
 /* tables */
  table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  }
  
 th, td {
	  text-align: center;
	  padding: 15px;
  }
  
 /* flex cont. for social media icons */
 .flex-container {
	 display: flex;
	 justify-content: space-evenly;
 }
  
 /* footer*/
footer.special {
  font-family: Times New Roman;
  background-color: grey;
  padding: 90px 0 0;
}

footer.special .footer-container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  footer.special .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
footer.special .footer-container p, footer.special .footer-container a, footer.special .footer-container h4 {
  color: #FFFFFFFF;
}
footer.special .footer-container h4 {
  margin: 0 0 10px;
}
footer.special .footer-container p, footer.special .footer-container a {
  font-size: 16px;
}
footer.special .footer-container img {
  max-width: 200px;
}
footer.special .footer-container .footer-col {
  margin: 0 15px 60px;
  padding: 30px;
  border-radius: 4px;
  background: #c8a2c8;
  -webkit-box-shadow: 2px 2px 2px #15232D;
          box-shadow: 2px 2px 2px #15232D;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  footer.special .footer-container .footer-col {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }
}
footer.special .footer-container .footer-col ul li {
  list-style: none;
}
footer.special .bottombar {
  padding: 20px 15px;
  background-color: #070e14;
  text-align: center;
  font-style: italic;
  color: #FFFFFF;
  font-size: .9em;
}
 
 /* Responsive layout */
 @media screen and (max-width: 400px) {
 .topnav a {
  float: none;
  width: 100%
 }
 }
  
  
  @media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
  width:100%;
  padding: 0;
  }
  }
  